/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
    width: 80px;
    height: 80px;
}

.brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-end > * {
    margin-right: 6px;
}

.recipeName {
    height: 48px;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.detail {
    text-decoration: none;
}

.detail:hover {
    text-decoration: none;
}

.actionRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.favoriteButton:focus {
    outline: none;
}

.calTip {
    background-color: #00203c;
}

.recipeList {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 250px); /* 2 */
    grid-gap: 24px; /* 3 */
    justify-content: space-between; /* 4 */

    padding-top: 16px;
    padding-bottom: 24px;
}

.paginationBar {
    padding-bottom: 16px;
}

.bg-light {
    background-color: #e8e8e8 !important;
    padding: 5px;
}

.section {
    padding-top: 8px;
    padding-bottom: 8px;
}

.demeterNavBar {
    padding-top: 0;
    padding-bottom: 0;
}

.favoriteButton {
    background-color: transparent;
}

.hint {
    font-weight: normal;
    color: #777;
    font-size: .85em;
}